<!doctype html>
<html lang="en">

<head>
{{>headlinks}}
</head>

<body>
   {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_right">
                        <img src="image/img.png" alt="thapa" class="img-fluid" title="thapa technical">
                    </div>
                    <!-- rigth side div -->

                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Weather App</p>
                        <h3>I am Info  of you</h3>
                   </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer app -->
    <footer>
    <p>Create with love by thapa channel</p>
    </footer>
</body>

</html>